<!--Maša Cvetanovski-->
{% extends 'user.html' %}
{%load static%}
{% block title %}
<title>CreateCollab</title>
{% endblock %}

{% block body_data %}data-collab-id="{{ collabid }}"{% endblock %}

{% block content %}
<div class="row sections">
    <div class="friends-bubble col-3 text-center">
        <div class="friends-text">INVITE FRIENDS</div>
        <div class = "friends-list">
            {% for friend in friends %}
            <form method = "post">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="friends">
                <input type="hidden" name="friend_id" value="{{ friend.friend.id }}">
                {{friend.friend}}
                {% if friend.sent == False %}
                <button type= "submit" class ="btn addfriend">+</button>
                {% endif %}
                <br>
            </form>
            {% endfor %}
        </div>
    </div>
    <div class="col-9 collab ">
        <form class="text-center" method="post">
            {% csrf_token %}
            <div class="row ">
                <div class="col-12 d-flex nameform">
                    <input type="text" name = "name" class="form-control input collabin" style="width: 30vw;" placeholder="Playlist name">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div ><p class="collabs-text" style="text-align: left;">PARTICIPANTS</p></div>
                    <div class = "participants-list" style="text-align: left;">
                        {%for user in participants%}
                        {{user.iduser.idauth.username}}
                        <br>
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="hidden" name="form_type" value="start">
                    <button type= "submit" class ="btn new_collab">START COLLAB</button>
                    <div>{{mess}}</div>

                </div>
            </div>
        </form>
        <div style="text-align:center;">
            <form method = "post">
                {%csrf_token%}
                <input type="hidden" name="form_type" value="exit">
                <button type= "submit" class ="btn exit">Exit making collab</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/createCollab.js' %}"></script>
{%endblock%}

