<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Jersey+15&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/pricing.css">
    <title>Payment Successful</title>
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
        <a href="../templates/index.html"><img class="d-block mx-auto mb-4" src="../static/images/logo.png" alt="VibeCheck Logo" width="150px"/></a>
        <p class="display-1 vibe-text-unsized">Payment successful!</p>
        <div class="col-lg-6 mx-auto">
            <p class="h4 my-4 pixel-text">
                Enjoy your VibeCheck Premium benefits!
            </p>
        </div>
    </div>

</body>
</html>